.btn-lyft
    background-color hot-pink
    color #fff
    transition .3s
.btn-lyft:hover
    background-color mulberry
    color #fff
.header-txt
    position absolute
    background-color white
    padding 10%
    z-index 100
.header-txt h1
    color hot-pink
    font-size 14px
