.btn-lyft
    background-color hot-pink
    color #fff
    transition .3s
.btn-lyft:hover
    background-color mulberry
    color #fff
.rate-container
    position absolute
    z-index 100
.header-txt
    background-color white
    padding 10%
    border-radius 25px
.header-txt h1
    color hot-pink
    font-size 14px
