img
    max-width 100%
.btn-lyft
    background-color hot-pink
    color #fff
    transition .3s
    margin-top 6px
    width 100%
    padding 3%
    border-radius 8px
.btn-lyft:hover
    background-color mulberry
    color #fff
.rate-container
    position absolute
    z-index 100
    margin-top 12px
.rate-container.cars
    top 200px
    min-width 306px
    display none
.rate-container.cars p
    color mulberry
.rate-container.cars .detail
    font-size 12px
.rate-container.cars .car-item
    border-bottom 1px solid #C6C6C6
.rate-container.cars .car-item img
    margin 12%
.rate-container.cars .header-txt
    overflow inherit
.rate-form
    color #000
.rate-form .row
    cursor pointer
.rate-form input
    width 90%
    border 2px solid transparent
    float right
    padding-bottom 10px
.rate-form input#startPoint
    border-bottom 1px solid #C6C6C6
.rate-form input:focus
    outline 0px
.rate-form .input-conector
    position absolute
    top 59px
    bottom 80px
    left 15.5px
    width 1px
    background-color #C6C6C6

.rate-form .input-conector:after, .rate-form .input-conector:before
    content ''
    position absolute
    left -2px
    width 5px
    height 5px
    border-radius 50%
.rate-form .input-conector:before
    bottom -3.5px;
    background-color hot-pink;
    border 3px solid hot-pink;
.rate-form .input-conector:after
    top: 1px;
    background-color: mulberry;
    border: 3px solid mulberry;

.header-txt
    background-color white
    border-radius 8px
    box-shadow 0px 8px 6px -6px #CCCAC7;
    border 1px solid #CCCAC7
    overflow auto
.header-txt h1
    color hot-pink
    font-size 14px
    margin-top 10px
    text-align center
    padding-bottom 10px
    border-bottom 1px solid #CCCAC7
.header-txt h1.no-line
    border-bottom: 0px
.modal-open .modal
    background-color: rgba(0,0,0, 0.7);
.modal-content
    max-width 280px
    margin 0 auto
    text-align center
.modal-content .bold
    font-weight 700
.modal-content .hot-pink
    background-color hot-pink
    color #fff
.modal-content .light
    color mulberry
