.black 
    color black

.textPink
    color #FF00BF

header span
    color black
    font-size 3em
    border 0.01em solid black
    border-radius 0.3em
a
    color #FF7F2B
header
    border-bottom 0.1em solid lightgray
.nav 
    padding-top 1%
    margin-bottom 0
.nav>li>a:focus, .nav>li>a:hover 
    color #FF00BF
    text-decoration none
    background-color transparent
.driveWith
    border 0.01em solid black
    border-radius 1em
    
.pac-icon
    background-image url("../img/pickup.png")!important
    background-size contain
    background-position 0 center