.textPink
    color #FF00BF
    
.driveWith
    border 0.01em solid black
    border-radius 0.3em
    
.nav 
    padding-top 2%
    
li *
    background-color transparent
    
.black:hover
    color #FF00BF
    
a
    color: #FF7F2B;
    background-color: transparent;
    
.logo
    margin-left 2%
    margin-right 3%
    